<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157714433125-vnklr6uga213g1m3rhfj9u985qplos9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157714433125-vnklr6uga213g1m3rhfj9u985qplos9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCC2e7jGa8frVFJ2_gSf4bKsY-BxMWVvGw</string>
	<key>GCM_SENDER_ID</key>
	<string>157714433125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.story.app</string>
	<key>PROJECT_ID</key>
	<string>storyapp-3de04</string>
	<key>STORAGE_BUCKET</key>
	<string>storyapp-3de04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157714433125:ios:b0bd53e458b73a8fe5728c</string>
</dict>
</plist>